<article class="articles">
  <% @articles.each do |article| %>
    <h3><%= link_to article.title.capitalize, article_path(article) %></h3>
    <p><%= article.content.tr('[]"', '') %></p>
  <% end %>
</article>
